@charset "UTF-8";
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

* {
  font-family: Arial, "微軟正黑體";
  outline: none;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
}
.input-container .input,
.input-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}
.input-container .input {
  border: solid 1px #ccc;
  width: 150px;
}
.input-container .btn {
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  font-size: 12px;
  color: #444;
  background-color: #ddd;
}

.ratios-container {
  margin-top: 20px;
}
.ratios-container .ratios-setting {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.ratios-container .ratios-setting div {
  width: calc(25% - 12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  margin-right: 15px;
}
.ratios-container .ratios-setting div:nth-child(4n) {
  margin-right: 0;
}
.ratios-container .ratios-setting div:nth-child(n+5) {
  margin-top: 5px;
}
.ratios-container .ratios-setting div input {
  border: solid 1px #ccc;
  border-radius: 30px;
  width: 35px;
  padding: 1px 5px;
  text-align: center;
}

.list-container {
  width: 300px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.list-container .list {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 14px;
  border: solid 1px #ccc;
  overflow: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}
.list-container .list div + div {
  margin-top: 5px;
}